<header id="header">
    <div class="header__container list__content">
        <div class="h__container--logosearch">
            <div class="logosearch">
                <a href="" class="logo">OrderSoft</a>
            </div>
        </div>
        <ul class="list__ul">
            <li class="list__ul__li"><a class="list__ul__li--a" href="/administrador/nuevo-producto">Nuevo</a></li>
            <li class="list__ul__li"><a class="list__ul__li--a" href="/administrador/categorias">Categorias</a></li>
            <li class="list__ul__li"><a class="list__ul__li--a" href="/administrador/productos">Productos</a></li>
            <li class="list__ul__li"><a class="list__ul__li--a" href="/logout">cerrar sesion</a></li>
        </ul>
    </div>
</header>