{{> administrador/header}}
<!-- admin -->
<link rel="stylesheet" href="/css/category.css">

<section class="container__category">
    <table class="table__content">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Acción</th>
                <th>Ingredientes</th>
                <th>Aprobar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Pizza de Pollo</td>
                <td> Pizza</td>
                <td> 5000 </td>
                <td> revision </td>
                <td>
                    <a href=""><span class="material-icons action-icon">update</span></a>
                    <a href=""><span class="material-icons action-icon">delete</span></a>
                </td>
                <td>
                    <a href=""><i class="fas fa-bacon action-icon"></i></a>
                </td>
                <td>
                    <a href=""><span class="material-icons action-icon">create</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{{> footer}}