{{> header}}
{{> modales}}
<section class="banner">
    <div class="imgBx">
        <img src="img/img1-medium.jpg" class="active">
        <img src="/img/img2-medium.jpg">
        <img src="/img/img3-medium.jpg">
        <img src="img/img4-medium.jpg">
    </div>
    <div class="contentBx">
        <div class="active">
            <h2>Producto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae a incidunt cupiditate?
                Veniam, numquam?</p>
            <a href="">Mas informaci贸n</a>
        </div>
        <div>
            <h2>Producto 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae a incidunt cupiditate?
                Veniam, numquam?</p>
            <a href="">Mas informaci贸n</a>
        </div>
        <div>
            <h2>Producto 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae a incidunt cupiditate?
                Veniam, numquam?</p>
            <a href="">Mas informaci贸n</a>
        </div>
        <div>
            <h2>Producto 4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae a incidunt cupiditate?
                Veniam, numquam?</p>
            <a href="">Mas informaci贸n</a>
        </div>
    </div>
    <div class="controlIzq">
        <span class="material-icons md-24" onclick="prevSlide();prevSlideText();">arrow_back_ios</span>
    </div>
    <div class="controlDer">
        <span class="material-icons md-24" onclick="nextSlide();nextSlideText();">arrow_forward_ios</span>
        </ul>
</section>
{{> footer}}
<script src="/js/app.js"></script>