<header id="header">
    <div class="header__container list__content">
        <div class="h__container--logosearch">
            <div class="logosearch">
                <a href="/" class="logo">OrderSoft</a>
                <div class="search">
                    <form class="search__f">
                        <input class="search__f--input" type="text" name="search"
                            placeholder="Burger, hot dog, sandwich...">
                    </form>
                    <span class="search--icon material-icons md-18">search</span>
                </div>
            </div>
        </div>
        <ul class="list__ul">
            {{#unless user}}
                <li class="list__ul__li"><button class="login--btn cart--icon" onclick="openModal()">Login</button></li>
            {{/unless}}
            <li class="list__ul__li">
                <div class="icon">
                    <a class="list__ul__li--a">Categorias</a>
                    <div class="modal__cart">
                        <div class="modal__cart__content">
                            <ul>
                                <li>
                                    <a href="">
                                        categoria
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        categoria
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        categoria
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list__ul__li"><a class="list__ul__li--a" href="#">Preguntas</a></li>
            <li class="list__ul__li"><a class="list__ul__li--a" href="#">Contacto</a></li>
            <li class="list__ul__li"><a class="list__ul__li--a" onclick="openModal()">
                    <span class="material-icons cart--icon">shopping_cart</span>
                </a>
            </li>
        </ul>
    </div>
</header>